@keyframes opacity {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/* @keyframes right-to-left {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes left-to-right {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes fade-down {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes droping-down {
  from {
    height: 0;
  }
  to {
    height: 100%;
  }
}


@keyframes fade-up {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
} */
@keyframes glow {
  from {
    filter: contrast(1) brightness(0.5);
  }
  to {
    filter: contrast(2) brightness(1);
  }
}
@keyframes react-logos {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes image-hover {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes btn-scaling {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}